* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    
    
}

:root
{
    --modal-background-color : none;
}


body
{
    display: grid;
    min-height: 100vh;
    min-width: 100vw;
    grid-template-rows: min-content 1fr;
    grid-template-columns: minmax(200px, 300px) 1fr;
    border: 2px solid red;
}

.header
{
    border: 2px solid green;
    grid-column: 1 / 3;
}

.sidebar
{
    border: 2px solid rebeccapurple;
    display: grid; 
    padding: 1.5rem;
    grid-template-rows: 1fr 1fr;
}

.sidebar nav, .project-section
{
    display: grid;
    grid-auto-rows: min-content;
    gap: 10px;
}

nav
{
    border: 2px solid blue;
}

.project-section
{
    border: 2px solid green;
}

.sidebar button
{
    height: 40px;
    width: 200px;
}

.main-container
{
    border: 2px solid brown;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;


}

.main-container .title
{
    border-bottom: 2px solid black;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    
}

.title span
{
   height: min-content;
}
.list
{
    display: grid;
    gap: 1rem;
}
.list-group
{
    border: 1px solid rosybrown;
    padding: 1rem;
   
}




/* DIALOG */
.modal
{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}


form
{

}