* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body
{
    display: grid;
    min-height: 100vh;
    grid-template-rows: min-content 1fr;
    grid-template-columns: minmax(200px, 300px) 1fr;
    border: 2px solid red;
}

.header
{
    border: 2px solid green;
    grid-column: 1 / 3;
    padding: 1rem;
}

/* SIDEBAR */
.sidebar
{
    border: 2px solid rebeccapurple;
    display: grid; 
    padding: 1.5rem;
    grid-template-rows: 1fr 1fr;
}

nav div
{
    border: 2px solid black;
    font-size: 1.3rem;
}

nav div:hover
{
    background-color: gray;
}

.active
{
    background-color: gray;
}
.sidebar nav, 
.project-section
{
    display: grid;
    grid-auto-rows: min-content;
    gap: 1rem;
}

.project-title
{
    border-bottom: 2px solid black;
}

.project-list
{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
}

.project-list li
{
    font-size: 1.2rem;
    border: 1px solid black;
}
.sidebar button
{
    height: 40px;
    width: 200px;
}

.main-container
{
    border: 2px solid brown;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.main-container .title
{
    border-bottom: 2px solid black;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.add-task-btn
{
    font-size: 1.2rem;
    padding: 0.3rem 0.8rem;
    border-radius: 5px;
    cursor: pointer;
}
.list
{
    display: grid;
    gap: 1rem;
}

.list-group
{
    border: 1px solid rosybrown;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Task Info */
.task-info
{
   display: flex;
   gap: 0.8rem;
   align-items: center;
   font-size: 1.2rem;
   
   
}

.task-checkbox
{
    height: 20px;
    width: 20px;
    border: 1.5px solid black;
    border-radius: 50%;
    cursor: pointer;
    background: none;
    position: relative;
}

.task-checkbox:hover
{
    background-color: rgba(106, 120, 135, 0.209);
}

.task-checkbox.checked 
{
    background: #22c55e;    
    border-color: black;
    
}


.task-actions
{
    display: flex;
    gap: 0.7rem;
}

.task-actions button
{
    background: none;
    border: none;
    cursor: pointer;
    color: #333;

}

.task-actions svg
{
    width: 23px;
    height: 23px;
}

.task-actions button:hover svg
{
    transform: scale(1.15);
}
/* ================= ADD MODAL ================= */

.modal
{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0.7rem;
    border-radius: 10px;
    
    
}

/*  Form */

form
{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

   
}

section
{
    
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 1rem;
   
}

.form-fields
{
    border-bottom: 1px solid black;
    padding: 0.8rem;
}

.form-actions
{
    padding: 0.4rem;
}

.form-group
{
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.1rem;
}

.form-group label
{
    min-width: 90px;
}

/* Title input */
#title
{
    height: 40px;
    padding: 0.5rem;
    flex: 1;
    font-size: 1rem;
}


textarea
{
    flex: 1;
    resize: none;
    padding: 0.5rem;
    font-size: 1rem;
}

input[type="date"],
select
{
    height: 30px;
    line-height: 36px;
    padding: 0 0.6rem;
    flex: 1;
    font-size: 0.95rem;

}

/* Buttons */
.button-group
{
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.button-group button
{
    height: 35px;
    width: 95px;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
